<template>
  <div>
    <p>
      Completed Tasks:
      {{
        todos.filter(todo => {
          return todo.done === true;
        }).length
      }}
    </p>
    <p>
      Pending Tasks:
      {{
        todos.filter(todo => {
          return todo.done === false;
        }).length
      }}
    </p>
    <!-- invoke CreateTodo component -->
    <create-todo v-on:create-todo="addTodo"/>
    <!-- invoke Todo component -->
    <todo id="todo"
      v-on:delete-todo="deleteTodo"
      v-on:complete-todo="completeTodo"
      v-for="todo in todos"
      v-bind:todo="todo"
    ></todo>
  </div>
</template>

<script type="text/javascript">
import Todo from "./Todo";
import CreateTodo from "./CreateTodo";

export default {
  name: "TodoList",
  components: {
    Todo,
    CreateTodo
  },
  data() {
    return {
      todos: [
        {
          title: "Todo A",
          project: "Project A",
          done: false
        },
        {
          title: "Todo B",
          project: "Project B",
          done: true
        },
        {
          title: "Todo C",
          project: "Project C",
          done: false
        },
        {
          title: "Todo D",
          project: "Project D",
          done: false
        }
      ]
    };
  },
  methods: {
    deleteTodo(todo) {
      const todoIndex = this.todos.indexOf(todo);
      this.todos.splice(todoIndex, 1);
    },
    addTodo(title) {
      this.todos.push({
        title,
        done: false
      });
    },
    completeTodo(todo) {
      const todoIndex = this.todos.indexOf(todo);
      this.todos[todoIndex].done = true;
    }
  }
};
</script>
