<template>
  <div id="todoItem" class="ui centered card">
    <!-- Original form -->
    <div>
      <div class="content" v-show="!isEditing">
        <div class="header">
          {{ todo.title }}
        </div>
        <br />
        <div class="meta">
          {{ todo.project }}
        </div>
        <div class="ui bottom attached blue basic button" v-on:click="showForm">
          Edit
        </div>
        <div
          class="ui bottom attached purple basic button"
          v-on:click="deleteTodo(todo)"
        >
          Delete
        </div>
      </div>
    </div>

    <!-- Edit form -->
    <div>
      <div class="content" v-show="isEditing">
        <div class="ui form">
          <div class="field">
            <label>Title</label>
            <input type="text" v-model="todo.title" />
          </div>
          <div class="field">
            <label>Project</label>
            <input type="text" v-model="todo.project" />
          </div>
          <div class="ui two button attached buttons">
            <button class="ui basic yellow button" v-on:click="hideForm">
              Done
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="ui bottom attached green basic button"
      v-show="!isEditing && todo.done"
      disabled
    >
      Completed
    </div>
    <div
      class="ui bottom attached red basic button"
      v-show="!isEditing && !todo.done"
      v-on:click="completeTodo(todo)"
    >
      Pending
    </div>
  </div>
</template>

<script type="text/javascript">
export default {
  // get variable 'todo' from parent component TodoList
  props: ["todo"],
  data() {
    return { isEditing: false };
  },
  methods: {
    showForm() {
      this.isEditing = true;
    },
    hideForm() {
      this.isEditing = false;
    },
    deleteTodo(todo) {
      this.$emit("delete-todo", todo);
    }, 
    completeTodo(todo) {
        this.$emit('complete-todo', todo);
      }
  }
};
</script>
<style>
#todoItem:hover {
    background-color: #feffed;
}
</style>
